.contaner {
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#qr-reader {
 width: 300px;
 height: 300px;
}
/* `https://api.upcitemdb.com/prod/trial/lookup?upc=${decodedText}`
  `https://api.fda.gov/drug/ndc.json?ndc=${decodedText}`
  `https://world.openfoodfacts.org/api/v0/product/${decodedText}.json`
 */
