.main-reader{
  width:700px ;
  height: 400px;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 /* `https://api.upcitemdb.com/prod/trial/lookup?upc=${decodedText}`
  `https://api.fda.gov/drug/ndc.json?ndc=${decodedText}`
  `https://world.openfoodfacts.org/api/v0/product/${decodedText}.json`
 */